.back{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('new-year.jpg');
  background-size: cover;
  z-index: -1;
}
.screen{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.title{
  width: 100vw;
  height: 30vh;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 7em;
}

#goals{
  width: 80vw;
  margin-left: 10vw;
}
.panel-group{
  width: 40%;
  margin-left: 10%;
  float: left;
}
